@model KudosNetCore.Model.Team
@{
    ViewData["Title"] = "Create Team";
}
<style type="text/css">
    th {
        text-align: right;
    }
    td {
        padding: 2px;
    }
</style>


<form asp-action="Create">
    @Html.Partial("_Edit", Model)
</form>