@model KudosNetCore.Model.Team
@{
    ViewData["Title"] = "Edit User";
}
<style type="text/css">
    th {
        text-align: right;
    }

    td {
        padding: 2px;
    }
</style>


<form asp-action="Edit">
    @Html.Partial("_Edit", Model)
</form>

<br /><br />

<script type="text/javascript">
    function deleteTeam(userId) {
        $.ajax({
            type: "DELETE",
            url: window.location,
            complete: function (xhr, textStatus) {
                window.location = "@Url.Action("Index")";
            }
        });
    }
</script>
<input type="button" value="Delete Team" onclick="deleteUser(@Model.Id)" />
