@model KudosNetCore.ViewModels.EditUser
@if(ViewData["Exception"] is Exception) {
    var exception = (Exception)ViewData["Exception"];
    <div class="has-error">@exception.Message</div>
}
<table>
    <tr>
        <th><label asp-for="FullName">Full Name:</label></th>
        <td><input asp-for="FullName" /></td>
    </tr>
    <tr>
        <th><label asp-for="Username">Username:</label></th>
        <td><input asp-for="Username" /></td>
    </tr>
    <tr>
        <th><label asp-for="Password">Password:</label></th>
        <td><input type="password" asp-for="Password"></td>
    </tr>
    <tr>
        <th><label asp-for="IsAdmin">Is Admin:</label></th>
        <td><input type="checkbox" asp-for="IsAdmin"></td>
    </tr>
    <tr>
        <th></th>
        <td><input type="submit" /></td>
    </tr>
</table>