@model KudosNetCore.Model.User
@{
    ViewData["Title"] = "Create User";
}
<style type="text/css">
    th {
        text-align: right;
    }
    td {
        padding: 2px;
    }
</style>


<form asp-action="Create">
    @Html.Partial("_Edit", Model);
</form>